.stats{
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    height: fit-content;
    margin-left: 32px;
    width: 160px;
    margin-top: 64px;
    text-align: center;
}

.stats_num{
    display: flex;
    align-items: center;
    margin-top: 12px;
}

.stats_num span{
    margin-left: 12px;
}

.stats_num .number{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #B5C3EF; */
}