.body{
    width: 580px;
    height: fit-content;
    border-radius: 10px;
    background-color: white;
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.step_header{
    font-weight: 500;
    margin-bottom: 32px;
}
.actions{
    width: 100%;
    display: flex;
    margin-top: 64px;
}

.goNextPage{
    margin-left: auto;
}

.goNextPage button{
    cursor: pointer;
    height: 38px;
    width: 200px;
    border-radius: 10px;
    color: var(--white);
    background-color: var(--botton);
    border: 0;
    line-height: 20px;
}

.goPrevPage button{
    cursor: pointer;
    height: 38px;
    width: 120px;
    color: var(--botton);
    background-color: var(--white);
    border: 1px solid var(--botton);
    border-radius: 10px;
}