.authorization {
    width: 600px;
    height: 328px;
    position: relative;
    margin: auto;
    margin-top: 80px;
    top: 0;
    box-shadow: 0 2px 10px rgba(39, 60, 131, 0.15);
    background-color: white;
  }