.settingsBody form {
  display: flex;
  flex-direction: column;
  padding-top: 0;
}
.settingsBody label {
  margin-right: 20px;
}

.settingsBody .pageBody {
  background-color: white;
  padding: 20px;
  border-radius: 20px;
}
.settingsBody form button {
  margin: auto;
  margin-top: 15px;
  border: 0;
  color: black;
  padding: 10px 20px;
  border-radius: 5px;
}

.body {
  width: 880px;
  display: grid;
  grid-template-columns: 200px 200px 1fr;
  row-gap: 20px;
  column-gap: 20px;
  padding: 32px 80px;
  background-color: white;
  border-radius: 10px;
}

.inputData {
  display: flex;
  align-items: start;
  flex-direction: column;
}

.inputData label {
  line-height: 20px;
  margin-bottom: 8px;
  font-size: 16px;
}

.inputData input {
  height: 38px;
  width: 100%;
  border: 1px solid var(--botton);
  padding: 9px 12px;
}
.shortInputData {
  display: flex;
  align-items: start;
  flex-direction: column;
}
.shortInputData label {
  line-height: 20px;
  margin-bottom: 8px;
  font-size: 16px;
}
.shortInputData input {
  height: 38px;
  width: 80px;
  border: 1px solid var(--botton);
  padding: 9px 12px;
}

.updateAvatar input {
  display: none;
}

.updateAvatar label {
  color: var(--botton);
  padding: 4px 10px;
  border-radius: 5px;
  cursor: pointer;
  height: 30px;
  margin-left: 20px;
  line-height: 20px;
}
.updateAvatar label:hover{
  color: var(--header)
}
.updateAvatar {
  height: auto;
  grid-column: 1/4;
  min-height: 50px;
  display: flex;
  align-items: center;
}
.aboutUser {
  grid-column: 1/4;
}
.aboutUser textarea {
  height: 78px;
  width: 100%;
  border-radius: 10px;
  border: 1px solid var(--botton);
  padding: 9px 12px;
}
.upgrade {
  grid-column: 1;
  margin: auto;
  width: 100%;
  height: 48px;
  background-color: var(--botton);
  border-radius: 10px;
  border: 0;
  color: var(--white);
  cursor: pointer;
}

.upgrade:hover {
  background-color: #748bd6;
}

.modal {
  position: absolute;
  width: 848px;
  height: 638px;
  top: 10vh;
  background-color: white;
  box-shadow: 0 0 10px 0 rgba(39, 60, 131, 0.3);
  border-radius: 10px;
  border: 0;
  outline: 0;
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
}
.modal_name {
  color: var(--header);
  margin-bottom: 40px;
}
.cropper {
  position: relative;
  width: 100%;
  height: 388px;
  background-color: #333;
  flex-shrink: 0;
}
.zoom_avatar {
  padding: 0;
  margin: 0;
  margin-top: 19px;
  width: 180px;
  height: 2px;
  border-radius: 2px;
  -webkit-appearance: none;
  cursor: pointer;
  /* background: -webkit-linear-gradient(
    left,
    var(--botton) 0%,
    var(--botton) 25%,
    #273c83 25%,
    #273c83 100%
  ); */
}

.zoom_avatar::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: linear-gradient(135deg, #eef1fb 0%, #aebdf0 100%);
  box-shadow: 1px 1px 3px rgba(39, 60, 131, 0.3);
  height: 20px;
  width: 20px;
  border-radius: 50%;
}
.zoom_avatar::-moz-range-track {
  padding: 0;
  margin: 0;
  margin-top: 19px;
  width: 180px;
  height: 2px;
  border-radius: 2px;
  -moz-appearance: none;
  cursor: pointer;
  background: -moz-linear-gradient(
    left,
    var(--botton) 0%,
    var(--botton) 25%,
    #273c83 25%,
    #273c83 100%
  );
}
.zoom_avatar::-moz-range-thumb {
  -moz-appearance: none;
  background: linear-gradient(135deg, #eef1fb 0%, #aebdf0 100%);
  box-shadow: 1px 1px 3px rgba(39, 60, 131, 0.3);
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

.update_avatar {
  width: 200px;
  height: 48px;
  background-color: var(--botton);
  color: var(--white);
  border-radius: 10px;
  border: none;
  margin-top: 40px;
  cursor: pointer;
}
.update_avatar:hover {
  background-color: #748bd6;
}
.phone {
  grid-column: 2;
}
.vk {
  grid-column: 1;
}
.tg {
  grid-column: 2;
}
.city {
  grid-column: 1;
}
.email {
  grid-column: 1;
}
.date {
  grid-column: 1;
  position: relative;
}
.date label {
  position: absolute;
  white-space: nowrap;
}
.date input {
  margin-top: 28px;
}
.experience {
  grid-column: 2;
}
