.registration {
  width: 600px;
  height: 572px;
  position: relative;
  margin: auto;
  margin-top: 80px;
  top: 0;
  box-shadow: 0 2px 10px rgba(39, 60, 131, 0.15);
  background-color: white;
}

.selectRole {
  padding: 0;
  border: 0;
  margin: 0px;
  display: flex;
  width: 242px;
  height: 40px;
  justify-content: space-between;
}

.form_radio_group {
  width: 100%;
}

.form_radio_group:first-child{
  margin-right: 16px;
}

.form_radio_group_label {
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
  line-height: 38px;
  width: 100%;
  border: 1px solid #696969;
  text-align: center;
}



