.body{
    display: flex;
    height: 100%;
    flex-direction: column;
    background-color: white;
    border-radius: 0 0 10px 10px
}

.messeges{
    height: 100%;
    overflow-y: auto;
    margin: 0 32px;
    display: flex;
    flex-direction: column-reverse;
    max-height: calc(100vh - 300px);
    min-height: 300px;
}
.messeges::-webkit-scrollbar{
    display: none;
}

.fillMessege {
  width: 100%;
  min-height: 48px;
  flex-shrink: 0;
  align-self: flex-end;
  border-radius: 10px;
  border: 1px solid var(--grey);
  padding: 8px 0;
}

.form{
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    align-items: center;
}

.inputMessege{
    margin-left: 8px;
    width: 100%;
    margin-right: 8px;
    height: 28px;
    padding-top: 8px;
    padding-bottom: 8px;
    height: fit-content;
    border: none;
    overflow:auto;
    height: fit-content;
}

.inputMessege:hover, .inputMessege:focus{
    border: 0;
    
}

.sendMessege{
    margin-right: 8px;
    height: 32px;
    padding: 0px 4px;
    border-radius: 5px;
    border: 0;
    background-color: white;
    cursor: pointer;
    
}
.empty_messeges{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: var(--grey);
}