.body{
    display: flex;
    height: 100%;
    flex-direction: column;
    background-color: white;
    border-radius: 0 0 10px 10px
}

.messeges{
    height: 100%;
    overflow-y: auto;
    margin: 0 32px;
    display: flex;
    flex-direction: column-reverse;
    min-height: 10vh;
    max-height: 65vh;
}
.messeges::-webkit-scrollbar{
    display: none;
}

.fillMessege {
  width: 100%;
  height: 48px;
  flex-shrink: 0;
  align-self: flex-end;
  border-radius: 10px;
  border: 1px solid
}

.form{
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    align-items: center;
}

.inputMessege{
    margin-left: 8px;
    width: 100%;
    margin-right: 8px;
    height: 32px;
    border: none;
}

.inputMessege:hover, .inputMessege:focus{
    border: 0;
}

.sendMessege{
    margin-right: 8px;
    height: 32px;
    padding: 0px 4px;
    border-radius: 5px;
    border: 0;
    background-color: white;
    cursor: pointer;
}