.selectType .noactive {
  display: none;
}
.selectType .title{
    margin: 0;
}
.selectType .selectData { 
  display: flex;
  align-items: center;
  margin-top: 12px;
  /* width: 593px; */ 
}

.selectType .circle {
  width: 4px;
  height: 4px;
  background-color: #696969;
  margin-top: 4px;
  border-radius: 2px;
}
.selectType .circle:first-child {
  margin-top: 0;
}
.selectType .separator {
  margin: 0 10px;
}

.selectType .chooseType,
.selectType .choosePodType {
  width: 284px;
  height: 36px;
  border: 2px solid #696969;
}

.selectType .chooseType:active {
  border: 2px solid #7d94df;
}

.selectType input.choosePodType {
  width: 264px;
  height: 16px;
}

.selectType .chooseType:focus,
.selectType .choosePodType:focus {
  border: 2px solid #7d94df;
}
