.body {
  display: flex;
  width: 880px;
  height: fit-content;
  padding: 32px 38px;
  background-color: var(--white);
  border-radius: 10px;
  flex-direction: column;
  margin-bottom: 50px;
}
.text_info {
  display: grid;
  grid-template-columns: repeat(4, 186px);
  row-gap: 28px;
  column-gap: 20px;
  margin-bottom: 28px;
}
.text_name {
  color: var(--grey);
  margin-bottom: 8px;
}
.cost {
  grid-column: 1/5;
}
.description {
  grid-column: 1/5;
}

.references {
  display: grid;
  grid-template-columns: repeat(3, 180px);
  row-gap: 40px;
  column-gap: 132px;
  margin-bottom: 28px;
}

.reference .photo img {
  object-fit: cover;
  height: 180px;
  width: 180px;
  border-radius: 10px;
}

.reference .photo {
  margin-bottom: 8px;
  cursor: pointer;
}

.actions {
  display: flex;
  height: 48px;
}

.actions button {
  width: 200px;
  border-radius: 10px;
  cursor: pointer;
}

.agree {
  background-color: var(--botton);
  color: var(--white);
  border: 0;
}
.agree:hover {
  background-color: #6c82cd;
}
.cancel {
  background-color: var(--white);
  color: #f46770;
  border: 1px solid #f46770;
}

.cancel:hover {
  background-color: #fde8e9;
}
.finish {
  background-color: var(--botton);
  color: var(--white);
  border: 0;
}
.finish:hover {
  background-color: #6c82cd;
}

.add_link_result {
  background-color: var(--white);
  color: var(--botton);
  border: 1px solid var(--botton);
  margin-left: auto;
}
.add_link_result:hover {
  background-color: #ebeffa;
}
.agree,
.finish {
  margin-left: auto;
}
.patch_order {
  background-color: white;
  border: 1px solid var(--botton);
  color: var(--botton);
  margin-left: auto;
}
.patch_order:hover {
  background-color: #ebeffa;
}
.modal button {
  width: 200px;
  border-radius: 10px;
  cursor: pointer;
  height: 48px;
}
.send {
  background-color: var(--botton);
  color: var(--white);
  border: 0;
}
.send:hover {
  background-color: #6c82cd;
}

.modal {
  position: absolute;
  width: 600px;
  height: fit-content;
  top: 30vh;
  background-color: white;
  box-shadow: 0 0 10px 0 rgba(39, 60, 131, 0.3);
  border-radius: 10px;
  border: 0;
  outline: 0;
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.header {
  color: var(--header);
}
.about {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
  height: 76px;
  border: 1px solid var(--botton);
  border-radius: 10px;
}
.modal_text {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
.link {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
  height: fit-content;
  border: 1px solid var(--botton);
  border-radius: 10px;
  padding: 10px;
}
.text_undeground {
  margin-bottom: 32px;
}
