.orderString{
    margin-top: 24px;
}
.orderString:first-child{
    margin-top: 0px;
}

.dates .orderString{
    margin-top: 0px;
    margin-left: 24px;
}

.dates .orderString:first-child{
    margin-top: 0px;
    margin-left: 0;
}

.orderString .title{
    color: #696969;
    margin: 0;
}

.orderString .text{
    margin-top: 10px;
}