.createOrder .pageBody {
  width: 592px;
  padding: 24px 32px;
  padding-bottom: 32px;
  background-color: white;
  border-radius: 5px;
}

.createOrder .pageBody form{
  display: flex;
  flex-direction: column;
  padding: 0;
}

.createOrder .photographCard {
  margin-left: 32px;
  background-color: white;
  padding: 20px;
  width: 152px;
  height: fit-content;
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: left;
  flex-direction: column;
  border-radius: 5px;
}

.photographCard .photographInfo {
  margin-top: 16px;
  display: flex;
  justify-content: left;
}

.photographCard .avatar {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.photographInfo .photographInfoText {
  margin-left: 8px;
  display: flex;
  flex-direction: column;
}

.photographInfo .city {
  margin-top: 4px;
}

.formFill {
  margin-top: 24px;
}

.createOrder input {
  border: 2px solid #8a8282;
}

.createOrder textarea {
  border: 2px solid #8a8282;
}
.createOrder textarea:focus {
  border: 2px solid #7d94df;
}

.orderForm {
  width: 572px;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
}

.writeAbout {
  margin-top: 12px;
}

.about .orderForm {
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
}

.inputDates {
  display: flex;
  /* width: 515px; */
}

.inputDates input[type="date"] {
  width: 125px;
  height: 16px;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
    padding-right: 0;
}

.inputDate {
  margin-top: 12px;
  display: flex;
}

.inputDate .time {
  margin-left: 4px;
}
.inputDate .time span,
.inputDate .time input {
  margin-left: 8px;
}
.inputDate span {
  margin-top: 12px;
}

.inputDates input[type="time"] {
  width: 70px;
  height: 16px;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
}

.inputDates .separator {
  height: auto;
  width: 1px;
  background-color: #696969;
  margin-left: 24px;
}

.inputDates .dedlineDate {
  margin-left: 24px;
}
.inputLocation,
.inputPrice {
  margin-top: 24px;
}
input.inputLocation {
  margin-top: 12px;
  width: 264px;
  height: 16px;
}

input.inputPrice {
  width: 80px;
  height: 16px;
  margin-top: 12px;
}

input.inputPrice:focus{
  border: 2px solid #7d94df
}

.createOrder .actions {
  align-self: flex-end;
  margin-top: 32px;
}

button.sendOrder {
  border-radius: 5px;
  border: 0;
  color: white;
  background: #7d94df;
  padding: 8px 12px;
  cursor: pointer;
  margin-left: 16px;
}

button.sendOrder:hover{
  opacity: 0.7;
}

button.goBack {
  border-radius: 5px;
  border: 0;
  color: #8a8282;
  background: #dbdbdb;
  padding: 8px 12px;
  cursor: pointer;
  margin-left: 16px;
}
button.goBack:hover{
  opacity: 0.7;
}
