.order .pageBody {
  width: 623px;
  padding: 24px;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 24px;
}

.order .mainInfoOrder {
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.order .mainInfoOrder .aboutOrder{
  display: flex;
}

.order .mainInfoOrder .img{
  position: relative;
  cursor: pointer;
  background-color: white;

}

.order .mainInfoOrder .img:hover::before{
  content: "Изменить";
  position: absolute;
  left: 16px;
  top: 24px;
  background-color: white;
  color: #212121;
  padding: 4px 6px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(39, 60, 131, 0.15);
}


.order .actions {
  align-self: flex-end;
  margin-top: 20px;
}

.order .changeStatus {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  background-color: #7d94df;
  border-radius: 5px;
  border: none;
  padding: 8px 16px;
  color: white;
  cursor: pointer;
  margin-left: 18px;
}
.order .changeStatus:hover {
  opacity: 0.7;
}

.order .bodyInfo {
  margin-top: 20px;
}

.order .bodyInfo .dates {
  margin-top: 24px;
  display: flex;
}

.order .bodyInfo .separator {
  width: 1px;
  background-color: #696969;
  margin-left: 24px;
}

.order .photographCard {
  margin-left: 32px;
  background-color: white;
  padding: 20px;
  width: 152px;
  height: fit-content;
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: left;
  flex-direction: column;
  border-radius: 5px;
}

.modal{
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal .modal-content{
  background-color: white;
  padding: 24px;
  border-radius: 5px;
}

.modal .modal-header{
  display: flex;
  justify-content: center;
}

.modal .modal-body{
  margin-top: 24px;
  display: flex;
  flex-direction: column;
}

.modal .modal-footer{
  margin-top: 24px;
  display: flex;
  justify-content: end;
}

.modal-body textarea{
  width: 264px;
  margin-top: 8px;
}

.modal-body textarea:hover, .modal-body textarea:focus{
  border: 1px solid #7d94df;
}

.modal-footer button{
  margin: 0;
  cursor: pointer;
}

.reason_for_rejection .title{
  /* padding: 8px 16px; */
  /* background-color: #FFBDB9; */
  /* border-radius: 5px; */
  color: #A6302A;
}