.typePhoto .title{
    margin-right: 8px;
    white-space: nowrap;

}
.typePhoto{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 220px;
    margin-top: 12px;
}

.typePhoto .line{
    margin-top: 13px;
    border-radius: 1px;
    width: 100%;
    opacity: .5;
    border-top: dotted 1px;
    align-self: flex-end;
}

.typePhoto .price{
    white-space: nowrap;
}