.title {
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 83px;
}
.title:hover {
  color: var(--botton);
  opacity: 0.8;
}
.title:hover.current {
  opacity: 1;
}
.current {
  color: var(--botton);
}
.body {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  height: fit-content;
  width: 280px;
  align-items: center;
  border-radius: 10px;
}
.body hr {
  margin: 0;
  width: 200px;
}
