.block {
  height: 38px;
  background-color: var(--white);
  margin-top: 8px;
  width: 100%;
  margin-bottom: 42px;
}
.content {
  display: flex;
  justify-content: flex-start;
  margin: auto;
  height: 38px;
  align-items: center;
}
.input {
  margin-left: 57px;
  position: relative;
  display: flex;
}
.search {
  height: 38px;
  padding-left: 38px;
  width: 280px;
  border: 1px solid var(--botton);
}
.inputIcon {
  position: absolute;
  align-self: center;
  left: 12px;
}
.logo {
  display: flex;
}

.orders {
  margin-left: auto;
  margin-right: 32px;
  font-size: 16px;
  color: var(--botton);
}

.messages {
  width: 30px;
  height: 21px;
}
.messagesButton {
  width: 30px;
  height: 21px;
}
