.noactive{
    display: inline-block;
    width: 200px;
    background-color: #7D94DF;
    color: white;
}
.noactive:hover{
    opacity: 0.7;
}
.active{
    display: inline-block;
    width: 400px;
    color: black;
}

.navbar{
    height: 40px;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
}

