.navbar div.noactive{
    display: inline-block;
    width: 200px;
    background-color: #CBD7FF;
    color: #798EE2;
}
.navbar .noactive:hover{
    color: black;
    background-color: white;
}
.navbar .active{
    display: inline-block;
    width: 400px;
    color: black;
}

