.navbar .noactive{
    display: inline-block;
    width: 200px;
    background-color: #7D94DF;
    color: white;
}
.navbar .noactive:hover{
    opacity: 0.7;
}
.navbar .active{
    display: inline-block;
    width: 400px;
    color: black;
}

