.body {
  width: 800px;
  display: flex;
  flex-direction: column;
}

.inputData {
  display: flex;
  align-items: start;
  flex-direction: column;
  margin-bottom: 24px;
}

.inputData label {
  margin-bottom: 8px;
}

.inputData input {
  height: 36px;
  width: 300px;
}

.upgrade{
    width: fit-content;
    padding: 4px 6px;
}