.block {
  display: flex;
  cursor: pointer;
  justify-content: right;
  align-items: center;
  margin-left: 24px;
}

.main{
  position: relative;
}

.arrow {
  width: 10px;
  height: 5px;
  margin-left: 8px;
  rotate: 180deg;
}

.point {
  height: 40px;
}
.menu{
  position: absolute;
  right: 0;
}

.openMenu {
  background: white;
  position: relative;
  width: 180px;
  height: auto;
  box-shadow: 0 2px 10px rgba(39, 60, 131, 0.15);
  margin-top: 25px;
  z-index: 999;
}
.openMenu::before {
  content: "";
  position: absolute;
  top: -30px;
  right: 20px;
  border: 14px solid transparent;
  border-bottom: 19px solid white;
}

.openMenu hr {
  margin: 0 8px;
  height: 1px;
  border: 0;
  color: black;
  background-color: black;
}
.openMenu a {
  text-decoration: none;
  color: black;
  height: 40px;
  display: flex;
  justify-content: left;
}
.openMenu a img,
.openMenu a span {
  align-self: center;
  line-height: 40px;
}

.openMenu a span {
  position: absolute;
  left: 36px;
}

.open {
  transform: rotate(180deg);
}
