.block {
  display: flex;
  cursor: pointer;
  justify-content: right;
  align-items: center;
  margin-left: 32px;
  margin-right: 8px;
}

.main{
  position: relative;
}

.arrow {
  width: 15px;
  height: 8px;
  margin-left: 8px;
  rotate: 180deg;
}

.point {
  height: 40px;
}
.menu{
  position: absolute;
  right: 0;
}

.openMenu {
  background: white;
  position: relative;
  min-width: 170px;
  height: auto;
  box-shadow: 0px 0px 10px rgba(39, 60, 131, 0.2);
  margin-top: 12px;
  z-index: 2;
  border-radius: 10px;
  padding: 8px;
  display: flex;
  flex-direction: column;
}

.openMenu a {
  text-decoration: none;
  color: var(--header);
  flex-wrap: nowrap;
  padding: 8px 8px;
  height: auto;
}

.openMenu a:hover{
  color: var(--botton);
}


.open {
  transform: rotate(180deg);
}
