.createOrder .pageBody {
  width: 592px;
  padding: 24px 32px;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 32px;
}

.createOrder .pageBody form {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.createOrder .photographCard {
  margin-left: 32px;
  background-color: white;
  padding: 20px;
  width: 152px;
  height: fit-content;
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: left;
  flex-direction: column;
  border-radius: 5px;
}

.photographCard .photographInfo {
  margin-top: 16px;
  display: flex;
  justify-content: left;
  align-items: center;
}

/* .photographCard .avatar {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
} */
.photographInfo .photographInfoText {
  margin-left: 8px;
  display: flex;
  flex-direction: column;
}

.photographInfo .city {
  margin-top: 4px;
}

.formFill {
  margin-top: 24px;
}

.createOrder input {
  border: 1px solid #8a8282;
}

.createOrder textarea {
  border: 1px solid #8a8282;
}
.createOrder textarea:focus {
  border: 1px solid #7d94df;
}

.orderForm {
  width: 572px;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
}

.writeAbout {
  margin-top: 12px;
}

.about .orderForm {
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
}

.inputDates {
  display: flex;
  /* width: 515px; */
}

.inputDates input[type="date"] {
  width: 125px;
  height: 16px;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  padding-right: 0;
}

.inputDate {
  margin-top: 12px;
  display: flex;
}

.inputDate .time {
  margin-left: 4px;
}
.inputDate .time span,
.inputDate .time input {
  margin-left: 8px;
}
.inputDate span {
  margin-top: 12px;
}

.inputDates input[type="time"] {
  width: 70px;
  height: 16px;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
}

.inputDates .separator {
  height: auto;
  width: 1px;
  background-color: #696969;
  margin-left: 24px;
}

.inputDates .dedlineDate {
  margin-left: 24px;
}
.inputLocation,
.inputPrice {
  margin-top: 24px;
}
input.inputLocation {
  margin-top: 12px;
  width: 264px;
  height: 16px;
}

input.inputPrice {
  width: 264px;
  height: 16px;
  margin-top: 12px;
}

input.inputPrice:focus {
  border: 1px solid #7d94df;
}

.createOrder .actions {
  align-self: flex-end;
  margin-top: 32px;
}

button.sendOrder {
  border-radius: 5px;
  border: 0;
  color: white;
  background: #7d94df;
  padding: 8px 12px;
  cursor: pointer;
  margin-left: 16px;
}

button.sendOrder:disabled {
  color: black;
  background: white;
  border: 2px solid #7d94df;
  padding: 6px 10px;
  cursor:default;
}

button.sendOrder:hover {
  opacity: 0.7;
}
button.sendOrder:disabled:hover{
  opacity: 1;
}

button.goBack {
  border-radius: 5px;
  border: 1px solid #7d94df;
  color: black;
  background: white;
  padding: 6px 12px;
  cursor: pointer;
  margin-left: 16px;
}
button.goBack:hover {
  opacity: 0.7;
}
.titleModel span {
  margin-right: 16px;
}

.titleModel {
  display: flex;
  align-items: center;
}

.switcher_input {
  display: none;
}

.switcher_label {
  cursor: pointer;
  position: relative;
}

.switcher_label::before {
  content: "";
  display: block;
  width: 46px;
  height: 20px;
  background-color: #e9ebf3;
  border-radius: 20px;
  border: 1px solid #7d94df;
  z-index: 1;
  transition: 0.25s ease-out;
}

.switcher_label::after {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  background-color: #7d94df;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 3px;
  z-index: 2;
  transition: 0.25s ease-out;
}

.switcher_input:checked + .switcher_label::before {
  background-color: #7d94df;
}
.switcher_input:checked + .switcher_label::after {
  transform: translateX(25px);
  background-color: #e9ebf3;
}

.inputTechnicalTask input[type="checkbox"] {
  display: none;
}

.inputTechnicalTask .checkInput {
  display: flex;
  margin-top: 8px;
  height: auto;
}

.inputTechnicalTask .techickalLabel {
  padding: 8px;
  border: 1px solid #8a8282;
  border-radius: 5px;
  color: #8a8282;
  cursor: pointer;
  margin-left: 12px;
}
.inputTechnicalTask .technicalTaskBlock {
  margin-top: 12px;
}
.inputTechnicalTask label.first {
  margin-left: 0px;
}
.inputTechnicalTask {
  display: flex;
  flex-direction: column;
}
.inputTechnicalTask .orientation {
  display: flex;
  flex-direction: column;
}
.inputTechnicalTask .photoSize {
  display: flex;
}
.techickalCheck:checked + .techickalLabel {
  border: 1px solid #a0b0ef;
  background-color: #cbd7ff;
  color: #798ee2;
}

.inputTechnicalTask .proportions {
  margin-left: 48px;
}

span.required::after {
  content: "*";
  color: red;
}
