.chatBody {
  background-color: white;
  width: 100%;
  height: 52px;
  display: flex;
  cursor: pointer;
  align-items: center;
  margin: 8px;
}
.chatLogo {
  border-radius: 50%;
  flex-shrink: 0;
}
.chatInfo {
  width: 100%;
  height: 40px;
  margin-left: 8px;
}
.headChatMessege {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.botChatMessege {
  margin-top: 6px;
  display: flex;
  justify-content: space-between;
  padding-right: 8px;
  white-space: nowrap;
  
}
.lastMessege{
  width: 200px;
  flex: none;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--grey)
}
.lastMessageText {
  display: inline;
}
.userMessege{
  display: inline;
  color: grey;
}