.type1 {
  background-color: #7d94df;
}
.type2 {
  background-color: #a879df;
}
.type0 {
  background-color: #6fddbf;
}
.avatar {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
