.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  border-radius: 50%;
  text-transform: uppercase;
  flex-shrink: 0;
  color: white;
  background-color: rgba(125, 148, 223, 0.15);
  color: var(--header);
}

.small{
  width: 32px;
  height: 32px;
  font-size: 12px;
}
.medium{
  width: 40px;
  height: 40px;
}

.big{
  width: 100px;
  height: 100px;
  font-size: 24px;
}

.photoraphers_list{
  width: 80px;
  height: 80px;
  font-size: 24px;
}

.header{
  width: 38px;
  height: 38px;
}

.header_active{
  width: 38px;
  height: 38px;
  background-color: var(--botton);
  color: var(--white);
}

.user_page{
  width: 100px;
  height: 100px;
  border-radius: 10px;
}