.body {
  max-width: 1180px;
  width: 100%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  padding: 0 15px;
  position: relative;
  flex: 1 0 auto;
}
.wrapper {
  display: flex;
  position: relative;
  min-height: 100vh;
  min-width: 1180px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
.bottom {
  position: absolute;
  bottom: 0px;
}
.main {
  display: flex;
  padding-bottom: 140px;
  align-items: center;
  flex: 1 0 auto;
}

.main form {
  display: flex;
  flex-direction: column;
}

.logo {
  margin: 16px 0 32px;
}

.form {
  margin: 0;
  padding: 0;
  margin-top: 48px;
  width: 400px;
  display: flex;
  align-items: center;
}

.formInput input {
  width: 100%;
  height: 50px;
  padding: 14px 12px;
  border: 1px solid var(--grey);
}

.formInput {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
}

.formInput label {
  margin-bottom: 12px;
  color: var(--dark-grey);
}
.doubleInput {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.doubleInput .formInput {
  width: 100%;
}

.doubleInput .formInput:first-child {
  margin-right: 8px;
}

.subtitle {
  width: 400px;
  text-align: center;
}

.hr {
  width: 120px;
  margin: 20px 0;
}

.form .submit {
  background-color: var(--botton);
  width: 100%;
  color: var(--white);
  padding: 0;
  height: 50px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

a {
  color: var(--header);
}

.footer {
  position: absolute;
  bottom: 0;
}

.error{
    color: var(--red);
    align-self: flex-end;
    margin-top: -15px;
    margin-bottom: 5px;
    line-height: 15px;
}
.errorInput{
    border: 1px solid var(--red) !important
}
.errorForm{
    width: 100%;
    margin: 10px 0px 0px;
    height: 30px;
    background-color: var(--red);
    border-radius: 5px;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 1180px) {
  .main {
    align-self: center;
    padding-bottom: 200px;
    width: auto;
    align-items: center;
  }
  .body {
    min-width: 0;
    width: auto;
  }
  .wrapper {
    min-width: 0;
  }
  .logo {
    width: 400px;
    align-self: center;
  }
}

@media screen and (max-width: 480px) {
  .form {
    width: 350px;
  }
  .logo {
    margin-bottom: 50px;
    width: 350px;
  }
  .main {
    padding-bottom: 150px;
    width: 350px;
  }
  .body {
    width: 350px;
  }
  .subtitle {
    width: 350px;
  }
}
