form {
  position: relative;
  padding-top: 40px;
  margin: auto;
}

li {
  list-style: none;
  margin-top: 20px;
}

input {
  border-radius: 10px;
  padding: 8px;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* input[type="radio"]:hover + label {
  outline: none;
  background-color: #e8ecfa;
  border: 1px solid #7d94df;
} */

input:focus {
  outline: none;
}

input::placeholder {
  color: #8a8282;
  font-size: 14px;
}
.fill {
  border: 1px solid #7d94df;
}
input[type="submit"] {
  width: 240px;
  height: 40px;
  border: none;
  cursor: pointer;
}
input[type="submit"]:hover {
  opacity: 0.7;
}

.navigation {
  height: 40px;
  width: 100%;
}

.login {
  width: 200px;
  height: 100%;
}

.signin {
  width: 400px;
  height: 100%;
}

.button {
  background: #7d94df;
  color: white;
  /* font-weight: 500; */
  letter-spacing: 1px;
  border: none;
}

.h6 {
  font-size: 20px;
  margin: 0;
}
.h5 {
  font-size: 24px;
}
.h4 {
  font-size: 32px;
}
.body1 {
  font-size: 16px;
}
.caption {
  font-size: 12px;
}
.caption,
.body1,
.h4,
.h5,
.h6 {
  color: #212121;
}
.sup2 {
  font-size: 14px;
  font-weight: 500;
}

strong {
  font-weight: 500;
}

.pageLayout {
  width: 1044px;
  margin: auto;
  margin-top: 24px;
  display: flex;
  justify-content: left;
}

.pageBody {
  margin-left: 48px;
  display: flex;
  flex-direction: column;
  padding-bottom: 80px;
}

textarea {
  overflow: auto;
  resize: none;
  border-radius: 5px;
  padding: 8px;
  outline: none;
  -moz-appearance: none;
}

a {
  text-decoration: none;
  color: black;
}

.new {
  background-color: #b1f4b9;
  color: #269734;
}
.in_progress {
  background-color: #ffe9b9;
  color: #a67f2a;
}
.canceled {
  background-color: #ffbdb9;
  color: #a6302a;
}
.waiting {
  background-color: #b5c3ef;
  color: #294191;
}
.closed {
  background-color: #b5c3ef;
  color: #294191;
}
