.authorization {
  width: 600px;
  height: 328px;
  position: relative;
  margin: auto;
  margin-top: 160px;
  top: 0;
  box-shadow: 0 2px 10px rgba(39, 60, 131, 0.15);
  background-color: white;
}
.registration {
  width: 600px;
  height: 572px;
  position: relative;
  margin: auto;
  margin-top: 160px;
  top: 0;
  box-shadow: 0 2px 10px rgba(39, 60, 131, 0.15);
  background-color: white;
}
form {
  position: relative;
  padding-top: 40px;
  margin: auto;
}
li {
  list-style: none;
  margin-top: 20px;
}
input {
  width: 224px;
  height: 24px;
  border-radius: 5px;
  border: 1px solid #8a8282;
  font-size: 14px;
  padding: 8px;
}
input:hover {
  border: 1px solid #5c5656;
}
input:focus {
  outline: none;
  border: 1px solid #7d94df;
}

input::placeholder {
  color: #8a8282;
  font-size: 14px;
}
.fill {
  border: 1px solid #7d94df;
}
input[type="submit"] {
  width: 240px;
  height: 40px;
  border: none;
}

.navigation {
  height: 40px;
  width: 100%;
}

.login {
  width: 200px;
  height: 100%;
}

.signin {
  width: 400px;
  height: 100%;
}

.button {
  background: linear-gradient(135deg, #7d94df, #273c83);
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
  border: none;
}

.h6 {
  font-size: 20px;
  margin: 0;
}
.h5 {
  font-size: 24px;
}
.h4 {
  font-size: 32px;
}
.body1 {
  font-size: 16px;
}
.caption {
  font-size: 12px;
}

.sup2 {
  font-size: 14px;
  font-weight: 500;
}

.avatar {
  border-radius: 50%;
}

.openMenu {
  background: white;
  position: relative;
  width: 180px;
  height: auto;
  box-shadow: 0 2px 10px rgba(39, 60, 131, 0.15);
  margin-top: 25px;
  z-index: 999;
}
.openMenu::before {
  content: "";
  position: absolute;
  top: -30px;
  right: 37px;
  border: 14px solid transparent;
  border-bottom: 19px solid white;
}

.openMenu hr {
  margin: 0 8px;
  height: 1px;
  border: 0;
  color: black;
  background-color: black;
}
.openMenu a {
  text-decoration: none;
  color: black;
  height: 40px;
  display: flex;
  justify-content: left;
}
.openMenu a img,
.openMenu a span {
  align-self: center;
  line-height: 40px;
}

.openMenu a span {
  position: absolute;
  left: 36px;
}

img.open {
  transform: rotate(180deg);
}
.pageLayout {
  width: 1044px;
  margin: auto;
  margin-top: 24px;
  display: flex;
  justify-content: left;
}

.pageBody {
  margin-left: 48px;
  display: flex;
  flex-direction: column;
}

input[type="checkbox"] {
  display: none;
}

.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 24px;
  border-radius: 90%;
  margin: 0 8px;
}

.slider {
  border-radius: 24px;
  border: 1px solid #a0b0ef;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #cbd7ff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.slider:before {
  border-radius: 50%;
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 1px;
  background-color: #798ee2;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

input:checked + .slider {
  background-color: #798ee2;
}

input:checked + .slider:before {
  background-color: #cbd7ff;
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
}
